@font-face {
  font-family: "opensans-regular";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2"),
  url(../fonts/OpenSans-Regular.woff) format("woff"),
  url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "opensans-bold";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2"),
  url(../fonts/OpenSans-Bold.woff) format("woff")
  url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #ffffff;
  background-image: linear-gradient(#0a0e34ef, #0a0e34ef), url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #0a0e34ef;
  background-size: cover;
}

.header__content h1 {
  font-family: "opensans-regular";
  font-size: 2rem;
  letter-spacing: 0.25em;
}

.header__logo__text, .footer__logo__text {
  width: 13rem;
  fill: #000000;
}

.header__logo__text {
  margin-top: 1rem;
}

.be__recruited {
  align-self: flex-start;
  margin-bottom: 1.5rem;
  margin-top: 13.5rem;
}

.play__college__sports {
  margin-left: 4.4rem;
  margin-top: 1.5rem;
}

.buttons__container {
  width: 100%;
  margin-top: 9rem;
  margin-bottom: 4rem;
}

.ios__app__button, .google__app__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #5e42b0;
  font-family: "opensans-regular";
  font-size: 0.7rem;
  text-decoration: none;
  color: inherit;
}

.apple__logo, .google__logo {
  width: 2rem;
  margin-right: 1rem;
  fill: #000000;
}

.button__text {
  white-space: pre;
}

.store__name {
  font-weight: 600;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "opensans-regular";
}

article {
  display: flex;
  flex-direction: column;
}

.section__athlets, .section__players {
  padding: 2rem;
}

.header__athlets, .header__players {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #e7e7e7;
}

.header__athlets {
  margin-top: 0.5rem;
}

.picture__athlets, .picture__players {
  align-self: center;
}

.picture__players img, .picture__athlets img {
  max-width: 100%;
}

h3 {
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  color: #c1c1c1;
}

dd {
  margin-right: 0;
  margin-left: 0;
  margin-top: 1.2rem;
  font-weight: bold;
}

dt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list__number {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  color: #000000;
  font-size: 1rem;
  font-weight: bolder;
}

.rectangle {
  width: 100%;
  height: 0.4em;
  border-radius: 0.2rem;
  background-color: #5e3db3;
}

.growth .rectangle {
  background-color: #ffffff;
}

.connection__dd, .collaboration__dd {
  margin-bottom: 9rem;
}

.growth__dd {
  padding-bottom: 5.5rem;
  color: #ffffff;
}

.list__players {
  margin-top: 6rem;
}

.list__players .growth {
  background-color: #090a36;
}

.list__players .growth .list__number {
  color: #8761e0;
}

.card__text, .card__number {
  margin-left: 2rem;
  margin-right: 2rem;
}

.card__text {
  padding-bottom: 7.5rem;
}

.card__picture {
  position: relative;
}

.card__picture img{
  max-width: 100%;
}

.card__number {
  position: relative;
  z-index: 100;

  display: flex;
  width: 7rem;
  height: 7rem;
  padding: 3rem;
  margin-top: -6rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;

  background-color: #5e3db3;
  color: #f5f6f7;
  box-sizing: border-box;
}

.number__rectangle {
  width: 100%;
  height: 0.4em;

  border-radius: 0.2rem;
  background-color: #8f79ca;
}

.card__header {
  font-size: 2rem;
  color: #e7e7e7;
}

.card__paragraph {
  font-size: 1rem;
  font-weight: bolder;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  font-family: "opensans-regular";

  background:
    linear-gradient(#0a0e34ef, #0a0e34ef),
    url("../images/game_767.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.footer__download__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo__image {
  max-width: 7rem;
  padding: 10px;
  margin-top: 10rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  fill: #ffffff;
  background: linear-gradient(#7756d7ff, #50379bff);
}

.footer__header {
  margin-top: 6rem;
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.footer__paragraph {
  margin-top: 1.2rem;

  font-size: 1rem;

  color: #9b8dc3;
  text-align: center;
}
