@font-face {
  font-family: "opensans-regular";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2"),
  url(../fonts/OpenSans-Regular.woff) format("woff"),
  url(../fonts/OpenSans-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "opensans-bold";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2"),
  url(../fonts/OpenSans-Bold.woff) format("woff")
  url(../fonts/OpenSans-Bold.ttf) format("opentype");
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background:
    linear-gradient(#0a0e34ef, #0a0e34ef),
    url("../images/football_767.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__content h1 {
  font-family: "opensans-bold";
  font-size: 4em;
}

.header__logo__text, .footer__logo__text {
  max-width: 100px;
  fill: #ffffff;
}

.be__recruited {
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 0;
}

.play__college__sports {
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 5%;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ios__app__button, .google__app__button {
  width: 45%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #5e42b0;
  font-family: "opensans-regular";
  font-size: 0.7em;
}

.apple__logo, .google__logo {
  width: 20%;
  align-self: center;
  fill: #ffffff;
}

.store__name {
  font-family: "opensans-bold";
}

.main {
  display: flex;
  flex-direction: column;
}

.section__athlets, .section__players {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.picture__players {
  order: 2;
}

.section__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(#0a0e34ef, #0a0e34ef),
    url("../images/game_767.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.footer__download__app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo__image {
  flex-basis: 64px;
  max-width: 130px;
  padding: 5px;
  border-radius: 30px;
  box-sizing: border-box;
  fill: #ffffff;
  background: linear-gradient(#7756d7ff, #50379bff);
}

@media (min-width: 641px) and (max-width: 960px) {
  .header__content {
    background:
      linear-gradient(#0a0e34ef, #0a0e34ef),
      url("../images/football_1280.jpg");
  }

  .footer__content {
    background:
      linear-gradient(#0a0e34ef, #0a0e34ef),
      url("../images/game_1280.jpg");
  }
}

@media (min-width: 961px) {
  .header__content {
    background:
      linear-gradient(#0a0e34ef, #0a0e34ef),
      url("../images/football_1920.jpg");
  }

  .card__text, .card__picture {
    box-sizing: border-box;
  }

  .card:nth-child(3n+2) {
    align-self: center;
  }

  .card__text {
    padding-left: 50px;
  }

  .footer__content {
    background:
      linear-gradient(#0a0e34ef, #0a0e34ef),
      url("../images/game_1920.jpg");
  }
}
